<a href="https://colab.research.google.com/github/JoaoVictoStangari/Estudos/blob/main/Alura/Python_para_Data_Science_trabalhando_com_fun%C3%A7%C3%B5es%2C_estruturas_de_dados_e_exce%C3%A7%C3%B5es.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Bibliotecas**

In [ ]:
"""
1. Escreva um código para instalar a versão 3.7.1 da biblioteca matplotlib.
"""

!pip install matplotlib==3.7.1

Requirement already satisfied: matplotlib==3.7.1 in /usr/local/lib/python3.10/dist-packages (3.7.1)
Requirement already satisfied: contourpy>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib==3.7.1) (1.2.0)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.10/dist-packages (from matplotlib==3.7.1) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib==3.7.1) (4.47.2)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib==3.7.1) (1.4.5)
Requirement already satisfied: numpy>=1.20 in /usr/local/lib/python3.10/dist-packages (from matplotlib==3.7.1) (1.23.5)
Requirement already satisfied: packaging>=20.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib==3.7.1) (23.2)
Requirement already satisfied: pillow>=6.2.0 in /usr/local/lib/python3.10/dist-packages (from matplotlib==3.7.1) (9.4.0)
Requirement already satisfied: pyparsing>=2.3.1 in /usr/local/lib/python3.10/dist-packages (from matplotlib==3.7.1) (3.1.1)
Requirement already satisfied: python-dateutil>=2.7 in /usr/local/lib/python3.10/dist-packages (from matplotlib==3.7.1) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.7->matplotlib==3.7.1) (1.16.0)

In [ ]:
"""
2. Escreva um código para importar a biblioteca numpy com o alias np.
"""

import numpy as np

In [ ]:
"""
3. Crie um programa que leia a seguinte lista de números e escolha um número desta aleatoriamente.
lista = [8, 12, 54, 23, 43, 1, 90, 87, 105, 77]
"""

from random import choice

lista = [8, 12, 54, 23, 43, 1, 90, 87, 105, 77]

choice(lista)

8

In [ ]:
"""
4. Crie um programa que sorteia, aleatoriamente, um número inteiro menor que 100.
Dica: use a função randrange() da biblioteca random.
Essa função recebe como parâmetro o valor limite para a escolha aleatória ou um intervalo se passado o limite mínimo e máximo.
Por exemplo, randrange(5) gera valores inteiros menores que 5.
"""

from random import randrange

randrange(100)

41

In [ ]:
"""
5. Crie um programa que solicite à pessoa usuária digitar dois números inteiros e calcular a potência do 1º número elevado ao 2º.
Dica: use a função pow() da biblioteca math
"""

from math import pow

numero = int(input("Digite um número: "))
potencia = int(input("Digite outro número: "))

print(f"{numero} elevado a {potencia} é igual a {round(pow(numero, potencia))}")

Digite um número: 250
Digite outro número: 15
250 elevado a 15 é igual a 931322574615478450206377566359519232

In [ ]:
"""
6. Um programa deve ser escrito para sortear uma pessoa seguidora de uma rede social para ganhar um prêmio.
A lista de participantes é numerada e devemos escolher aleatoriamente um número de acordo com a quantidade de participantes.
Peça à pessoa usuária para fornecer o número de participantes do sorteio e devolva para ela o número sorteado.
"""

participantes = int(input("Digite a quantidade de pessoas que estão participando: "))

from random import randrange

print(f"O número escolhido foi {randrange(1, participantes+1)}.")

Digite a quantidade de pessoas que estão participando: 150
O número escolhido foi 35.

In [ ]:
"""
7. Você recebeu uma demanda para gerar números de token para acessar o aplicativo de uma empresa.
O token precisa ser par e variar de 1000 até 9998. Escreva um código que solicita à pessoa usuária o seu nome
e exibe uma mensagem junto a esse token gerado aleatoriamente.
"Olá, [nome], o seu token de acesso é [token]! Seja bem-vindo(a)!"
"""
from random import randrange

nome = input("Digite seu nome: ")
token = randrange(1000, 9998, 2)

print(f"\nOlá, {nome}, o seu token de acesso é {token}! Seja bem-vindo(a)!")

Digite seu nome: João Victor

Olá, João Victor, o seu token de acesso é 2786! Seja bem-vindo(a)!

In [ ]:
"""
8. Para diversificar e atrair novos(as) clientes, uma lanchonete criou um item misterioso em seu cardápio chamado "salada de frutas surpresa".
Neste item, são escolhidas aleatoriamente 3 frutas de uma lista de 12 para compor a salada de frutas da pessoa cliente.
Crie o código que faça essa seleção aleatória de acordo com a lista abaixo:
frutas = ["maçã", "banana", "uva", "pêra",
          "manga", "coco", "melancia", "mamão",
          "laranja", "abacaxi", "kiwi", "ameixa"]
"""

frutas = ["maçã", "banana", "uva", "pêra",
          "manga", "coco", "melancia", "mamão",
          "laranja", "abacaxi", "kiwi", "ameixa"]

from random import choices

print("SALADA DE FRUTAS SURPRESA:\n")

print("As frutas escolhidas foram:")
choices(frutas, k=3)

SALADA DE FRUTAS SURPRESA:

As frutas escolhidas foram:

['kiwi', 'ameixa', 'pêra']

In [ ]:
"""
9. Você recebeu um desafio de calcular a raiz quadrada de uma lista de números, identificando quais resultaram em um número inteiro. A lista é a seguinte:
numeros = [2, 8, 15, 23, 91, 112, 256]
No final, informe quais números possuem raízes inteiras e seus respectivos valores.
Dica: use a comparação entre a divisão inteira (//) da raiz por 1 com o valor da raiz para verificar se o número é inteiro. Por exemplo:
num = 1.5
num_2 = 2
print(f'{num} é inteiro? :', num // 1 == num)
print(f'{num_2} é inteiro? :', num_2 // 1 == num_2)
Saída:
1.5 é inteiro? : False
2 é inteiro? : True
"""

numeros = [2, 8, 15, 23, 91, 112, 256]

from math import sqrt

for i in range(len(numeros)):
  print(f"Raiz quadrada de {numeros[i]} é inteiro?")
  print(sqrt(numeros[i]))
  print(sqrt(numeros[i]) // 1 == sqrt(numeros[i]), "\n")

Raiz quadrada de 2 é inteiro?
1.4142135623730951
False

Raiz quadrada de 8 é inteiro?
2.8284271247461903
False

Raiz quadrada de 15 é inteiro?
3.872983346207417
False

Raiz quadrada de 23 é inteiro?
4.795831523312719
False

Raiz quadrada de 91 é inteiro?
9.539392014169456
False

Raiz quadrada de 112 é inteiro?
10.583005244258363
False

Raiz quadrada de 256 é inteiro?
16.0
True

In [ ]:
"""
10. Faça um programa para uma loja que vende grama para jardins.
Essa loja trabalha com jardins circulares e o preço do metro quadrado da grama é de R$ 25,00.
Peça à pessoa usuária o raio da área circular e devolva o valor em reais do quanto precisará pagar.
Dica: use a variável pi e o método pow() da biblioteca math. O cálculo da área de um círculo é de: A = π*r^2 (lê-se pi vezes raio ao quadrado).
"""

from math import pow, pi

area = float(input(f"Digite o raio da área circular desejada: "))
metro_total = pi * pow(area, 2)
valor = 25

print(f"O valor gasto para um raio circular de {area:.2f} metros é R${round(metro_total*valor, 2)}")

Digite o raio da área circular desejada: 10
O valor gasto para um raio circular de 10.00 metros é R$7853.98

# **Funções**

In [ ]:
"""
1. Escreva um código que lê a lista abaixo e faça:
lista = [16, 14, 63, 65, 17, 99, 70, 11, 20, 48, 79, 32, 17, 89, 12, 25, 66]
- A leitura do tamanho da lista
- A leitura do maior e menor valor
- A soma dos valores da lista
Ao final exiba uma mensagem dizendo:
"A lista possui [tam] números em que o maior número é [maior] e o menor número é [menor]. A soma dos valores presentes nela é igual a [soma]"
"""

lista = [16, 14, 63, 65, 17, 99, 70, 11, 20, 48, 79, 32, 17, 89, 12, 25, 66]

print(f"A lista possui {len(lista)} números em que o maior número é {max(lista)} e o menor número é {min(lista)}. A soma dos valores presentes nela é igual a {sum(lista)}")

A lista possui 17 números em que o maior número é 99 e o menor número é 11. A soma dos valores presentes nela é igual a 743

In [ ]:
"""
2. Escreva uma função que gere a tabuada de um número inteiro de 1 a 10, de acordo com a escolha da pessoa usuária. Como exemplo, para o número 7, a tabuada deve ser mostrada no seguinte formato:
Tabuada do 7:
7 x 0 = 0
7 x 1 = 7
[...]
7 x 10 = 70
"""

numero = int(input("Digite o número: "))

def tabuada(numero):
  print(f"\nTabuada do {numero}:")
  for i in range(1, 11):
    print(f"{numero} x {i} = {numero*i}")

tabuada(numero)

Digite o número: 10

Tabuada do 10:
10 x 1 = 10
10 x 2 = 20
10 x 3 = 30
10 x 4 = 40
10 x 5 = 50
10 x 6 = 60
10 x 7 = 70
10 x 8 = 80
10 x 9 = 90
10 x 10 = 100

In [ ]:
"""
3. Crie a função que leia a lista abaixo e retorne uma nova lista com os múltiplos de 3:
[97, 80, 94, 88, 80, 1, 16, 53, 62, 32, 24, 99]
Utilize o return na função e salve a nova lista na variável mult_3.
"""

lista = [97, 80, 94, 88, 80, 1, 16, 53, 62, 32, 24, 99]

def mult_3 (lista):
  verif_3 = []
  for i in range(len(lista)):
    if lista[i] % 3 == 0:
      verif_3.append(lista[i])
  return verif_3

mult_3(lista)

[24, 99]

In [ ]:
"""
4. Crie uma lista dos quadrados dos números da seguinte lista [1, 2, 3, 4, 5, 6, 7, 8, 9, 10].
Lembre-se de utilizar as funções lambda e map() para calcular o quadrado de cada elemento da lista.
"""

lista = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

from math import pow

lista_quad = list(map(lambda x: pow(x, 2), lista))
print(lista_quad)

[1.0, 4.0, 9.0, 16.0, 25.0, 36.0, 49.0, 64.0, 81.0, 100.0]

In [ ]:
"""
5. Você foi contratado(a) como cientista de dados de uma associação de skate.
Para analisar as notas recebidas de skatistas em algumas competições ao longo do ano,
você precisa criar um código que calcula a pontuação dos(as) atletas.
Para isso, o seu código deve receber 5 notas digitadas pelas pessoas juradas.

Para calcular a pontuação de um(a) skatista, você precisa eliminar a maior e a menor pontuação dentre as 5 notas
e tirar a média das 3 notas que sobraram. Retorne a média para apresentar o texto:

"Nota da manobra: [media]"
"""

def media_manobra():
  lista_notas = []
  for i in range(5):
    nota = float(input(f"Nota da manobra {i+1}º Jurado: "))
    lista_notas.append(nota)
  lista_notas.remove(max(lista_notas))
  lista_notas.remove(min(lista_notas))
  from statistics import mean
  print(f"\nNota da manobra: {mean(lista_notas):.2f}")

media_manobra()

Nota da manobra 1º Jurado: 7
Nota da manobra 2º Jurado: 6
Nota da manobra 3º Jurado: 9
Nota da manobra 4º Jurado: 8
Nota da manobra 5º Jurado: 6

Nota da manobra: 7.00

In [ ]:
"""
6. Para atender a uma demanda de uma instituição de ensino para a análise do desempenho de seus(suas) estudantes,
você precisa criar uma função que receba uma lista de 4 notas e retorne:

maior nota
menor nota
média
situação (Aprovado(a) ou Reprovado(a))
Para testar o comportamento da função, os dados podem ser exibidos em um texto:
"O(a) estudante obteve uma média de [media], com a sua maior nota de [maior] pontos e a menor nota de [menor] pontos e foi [situacao]"
"""

def notas():
  lista_notas = []
  for i in range(4):
    nota = float(input(f"Digite a {i+1}º nota: "))
    lista_notas.append(nota)
  maior = max(lista_notas)
  menor = min(lista_notas)
  media = sum(lista_notas) / len(lista_notas)
  if media >= 5:
    situacao = "APROVADO"
  else:
    situacao = "REPROVADO"
  print(f"\nO(a) estudante obteve uma média de {media:.2f}, com a sua maior nota de {maior:.2f} pontos e a menor nota de {menor:.2f} pontos e foi {situacao}.")

notas()

Digite a 1º nota: 10
Digite a 2º nota: 7
Digite a 3º nota: 9
Digite a 4º nota: 9

O(a) estudante obteve uma média de 8.75, com a sua maior nota de 10.00 pontos e a menor nota de 7.00 pontos e foi APROVADO.

In [ ]:
"""
7. Você recebeu uma demanda para tratar 2 listas com os nomes e sobrenomes de cada estudante
concatenando-as para apresentar seus nomes completos na forma Nome Sobrenome. As listas são:
nomes = ["joão", "MaRia", "JOSÉ"]
sobrenomes = ["SILVA", "souza", "Tavares"]
O texto exibido ao fim deve ser parecido com:
"Nome completo: Ana Silva"
Dica: utilize a função map para mapear os nomes e sobrenomes e as funções de string para tratar o texto.
"""

nomes = ["joão", "MaRia", "JOSÉ"]
sobrenomes = ["SILVA", "souza", "Tavares"]

nome_completo = list(map(lambda x, y: x.capitalize() + ' ' + y.capitalize(), nomes, sobrenomes))

for i in range(len(nome_completo)):
  print(f"Nome completo: {nome_completo[i]}")

print(nome_completo)

Nome completo: João Silva
Nome completo: Maria Souza
Nome completo: José Tavares
['João Silva', 'Maria Souza', 'José Tavares']

In [ ]:
"""
8. Como cientista de dados em um time de futebol, você precisa implementar novas formas de coleta de dados sobre o desempenho de jogadores
e do time como um todo. Sua primeira ação é criar uma forma de calcular a pontuação do time no campeonato nacional
a partir dos dados de gols marcados e sofridos em cada jogo.

Escreva uma função chamada calcula_pontos que recebe como parâmetros duas listas de números inteiros,
representando os gols marcados e sofridos pelo time em cada partida do campeonato.
A função deve retornar a pontuação do time e o aproveitamento em percentual, levando em consideração que a vitória vale 3 pontos,
o empate vale 1 ponto e a derrota 0 pontos.

Observação: se a quantidade de gols marcados numa partida for maior que a de sofridos, o time venceu.
Caso seja igual, o time empatou e se for menor, o time perdeu.
Para calcular o aproveitamento devemos fazer a razão entre a pontuação do time pela pontuação máxima que ele poderia receber.

Para teste, utilize as seguintes listas de gols marcados e sofridos:
gols_marcados = [2, 1, 3, 1, 0]
gols_sofridos = [1, 2, 2, 1, 3]
Provável texto exibido:
"A pontuação do time foi de [pontos] e seu aproveitamento foi de [aprov]%"
"""

gols_marcados = [2, 1, 3, 1, 0]
gols_sofridos = [1, 2, 2, 1, 3]

def calcula_pontos(x, y):
  pontos = 0
  for i in range(len(x)):
    if x[i] > y[i]:
      pontos += 3
    elif x[i] == y[i]:
      pontos += 1
  aprov = (pontos / (len(x)*3)) * 100
  print(f"A pontuação do time foi de {pontos} e seu aproveitamento foi de {aprov:.2f}%")

calcula_pontos(gols_marcados, gols_sofridos)

A pontuação do time foi de 7 e seu aproveitamento foi de 46.67%

In [ ]:
"""
9. Você recebeu o desafio de criar um código que calcula os gastos de uma viagem para um das quatro cidades partindo de Recife, sendo elas:
Salvador, Fortaleza, Natal e Aracaju.

O custo da diária do hotel é de 150 reais em todas elas e o consumo de gasolina na viagem de carro é de 14 km/l,
sendo que o valor da gasolina é de 5 reais o litro.
O gastos com passeios e alimentação a se fazer em cada uma delas por dia seria de [200, 400, 250, 300], respectivamente.

Sabendo que as distâncias entre Recife e cada uma das cidades é de aproximadamente [850, 800, 300, 550] km, crie três funções nas quais:
a 1ª função calcule os gastos com hotel (gasto_hotel), a
2ª calcule os gastos com a gasolina (gasto_gasolina) e a
3ª os gastos com passeio e alimentação (gasto_passeio).

Para testar, simule uma viagem de 3 dias para Salvador partindo de Recife. Considere a viagem de ida e volta de carro.
"Com base nos gastos definidos, uma viagem de [dias] dias para [cidade] saindo de Recife custaria [gastos] reais"
"""

lista_cidades = ["Salvador", "Fortaleza", "Natal", "Aracaju"]

print("CIDADES DISPONÍVEIS:\n0 - Salvador\n1 - Fortaleza\n2 - Natal\n4 - Aracaju")
cidade = int(input("\nDigite o número da cidade que deseja ir: "))
dias = int(input("Digite quantos dias ira ficar: "))

def gasto_hotel(x):
  diaria = 150
  gasto_hotel = diaria * x
  return gasto_hotel

def gasto_gasolina(x):
  valor_gasolina = 5
  consumo = 14
  distancia = [850, 800, 300, 550]
  litros = (distancia[x] / consumo) * 2
  gasto_gasolina = litros * valor_gasolina
  return gasto_gasolina

def gasto_passeio(x, y):
  valor_passeio = [200, 400, 250, 300]
  gasto_passeio = valor_passeio[x] * y
  return gasto_passeio

gastos = gasto_hotel(dias) + gasto_gasolina(cidade) + gasto_passeio(cidade, dias)

print(f"\nCom base nos gastos definidos, uma viagem de {dias} dias para {lista_cidades[cidade]} saindo de Recife custaria {gastos:.2f} reais")

CIDADES DISPONÍVEIS:
0 - Salvador
1 - Fortaleza
2 - Natal
4 - Aracaju

Digite o número da cidade que deseja ir: 0
Digite quantos dias ira ficar: 3

Com base nos gastos definidos, uma viagem de 3 dias para Salvador saindo de Recife custaria 1657.14 reais

In [ ]:
"""
10. Você iniciou um estágio em uma empresa que trabalha com processamento de linguagem natural (NLP).
Sua líder requisitou que você criasse um trecho de código que recebe uma frase digitada pela pessoa usuária
e filtre apenas as palavras com tamanho maior ou igual a 5, exibindo-as em uma lista.
Essa demanda é voltada para a análise do padrão de comportamento de pessoas na escrita de palavras acima dessa quantidade de caracteres.

Dica: utilize as funções lambda e filter() para filtrar essas palavras.
Lembrando que a função embutida filter() recebe uma função (no nosso exemplo uma função lambda) e
filtra um iterável de acordo com a função. Para tratar a frase use replace() para trocar a ',' '.', '!' e '?' por espaço.

Use a frase "Aprender Python aqui na Alura é muito bom" para testar o código.
"""

frase_input = input("Digite um frase:\n")

frase = frase_input.replace("," , "" ).replace("." , "" ).replace("!" , "" ).replace("?" , "" ).split()

maior_cinco = list(filter(lambda x: (len(x) >= 5), frase))

print(f"\nPALAVRAS MAIORES QUE 5 LETRAS:\n{maior_cinco}")

Digite um frase:
Aprender Python aqui na Alura é muito bom

PALAVRAS MAIORES QUE 5 LETRAS:
['Aprender', 'Python', 'Alura', 'muito']

# **Estruturas de Dados**

In [ ]:
"""
1. Crie um código para imprimir a soma dos elementos de cada uma das listas contidas na seguinte lista:
lista_de_listas = [[4,6,5,9], [1,0,7,2], [3,4,1,8]]
"""

lista_de_listas = [[4,6,5,9], [1,0,7,2], [3,4,1,8]]

for i in lista_de_listas:
  print(sum(i))

24
10
16

In [ ]:
"""
2. Crie um código para gerar uma lista que armazena o terceiro elemento de cada tupla contida na seguinte lista de tuplas:
lista_de_tuplas = [('Pedro', 1.74, 81), ('Júlia', 1.65, 67), ('Otávio', 1.81, 83)]
"""

lista_de_tuplas = [('Pedro', 1.74, 81), ('Júlia', 1.65, 67), ('Otávio', 1.81, 83)]

lista_terceiro = []

for i in lista_de_tuplas:
  lista_terceiro.append(i[2])

print(f"Lista de terceiro elemento:\n{lista_terceiro}")

Lista de terceiro elemento:
[81, 67, 83]

In [ ]:
"""
3. A partir da lista: lista = ['Pedro', 'Júlia', 'Otávio', 'Eduardo'], crie um código para gerar uma lista de tuplas
em que cada tupla tenha o primeiro elemento como a posição do nome na lista original e o segundo elemento sendo o próprio nome.
"""

lista = ['Pedro', 'Júlia', 'Otávio', 'Eduardo']

lista_novo = []

for i in lista:
  indice = lista.index(i)
  nome = i
  lista_novo.append((indice, nome))

print(lista_novo)

[(0, 'Pedro'), (1, 'Júlia'), (2, 'Otávio'), (3, 'Eduardo')]

In [ ]:
"""
4. Crie uma lista usando o list comprehension que armazena somente o valor numérico de cada tupla caso o primeiro elemento seja 'Apartamento',
a partir da seguinte lista de tuplas:
aluguel = [('Apartamento', 1700), ('Apartamento', 1400), ('Casa', 2150), ('Apartamento', 1900), ('Casa', 1100)]
"""

aluguel = [('Apartamento', 1700), ('Apartamento', 1400), ('Casa', 2150), ('Apartamento', 1900), ('Casa', 1100)]

apartamento = [x[1] for x in aluguel if x[0] == "Apartamento"]

print(apartamento)

[1700, 1400, 1900]

In [ ]:
"""
5. Crie um dicionário usando o dict comprehension em que as chaves estão na lista
meses = ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez']
e os valores estão em
despesa = [860, 490, 1010, 780, 900, 630, 590, 770, 620, 560, 840, 360].
"""

meses = ['Jan', 'Fev', 'Mar', 'Abr', 'Mai', 'Jun', 'Jul', 'Ago', 'Set', 'Out', 'Nov', 'Dez']
despesa = [860, 490, 1010, 780, 900, 630, 590, 770, 620, 560, 840, 360]

despesa_meses = {meses[i]: despesa[i] for i in range(len(despesa))}

print(despesa_meses)

{'Jan': 860, 'Fev': 490, 'Mar': 1010, 'Abr': 780, 'Mai': 900, 'Jun': 630, 'Jul': 590, 'Ago': 770, 'Set': 620, 'Out': 560, 'Nov': 840, 'Dez': 360}

In [ ]:
"""
6. Uma loja possui um banco de dados com a informação de venda de cada representante e de cada ano
e precisa filtrar somente os dados do ano 2022 com venda maior do que 6000.
A loja forneceu uma amostra contendo apenas as colunas com os anos e os valores de venda
para que você ajude a realizar a filtragem dos dados a partir de um código:
vendas = [('2023', 4093), ('2021', 4320), ('2021', 5959), ('2022', 8883), ('2023', 9859), ('2022', 5141), ('2022', 7688), ('2022', 9544), ('2023', 4794), ('2021', 7178), ('2022', 3030), ('2021', 7471), ('2022', 4226), ('2022', 8190), ('2021', 9680), ('2022', 5616)]
Crie uma lista usando list comprehension para filtrar os valores de 2022 e que sejam maiores que 6000.
"""

vendas = [('2023', 4093), ('2021', 4320), ('2021', 5959), ('2022', 8883), ('2023', 9859), ('2022', 5141), ('2022', 7688), ('2022', 9544), ('2023', 4794), ('2021', 7178), ('2022', 3030), ('2021', 7471), ('2022', 4226), ('2022', 8190), ('2021', 9680), ('2022', 5616)]

maior_6000 = [x[1] for x in vendas if x[0] == '2022' and x[1] >= 6000]

print(f"Valores acima de 6000 de 2022:\n{maior_6000}")

Valores acima de 6000 de 2022:
[8883, 7688, 9544, 8190]

In [28]:
"""
7. Uma clínica analisa dados de pacientes e armazena o valor numérico da glicose em um banco de dados e gostaria de rotular os dados da seguinte maneira:

Glicose igual ou inferior a 70: 'Hipoglicemia'
Glicose entre 70 a 99: 'Normal'
Glicose entre 100 e 125: 'Alterada'
Glicose superior a 125: 'Diabetes'

A clínica disponibilizou parte dos valores e sua tarefa é criar uma lista de tuplas usando list comprehension
contendo o rótulo e o valor da glicemia em cada tupla.

glicemia = [129, 82, 60, 97, 101, 65, 62, 167, 87, 53, 58, 92, 66, 120, 109, 62, 86, 96, 103, 88, 155, 52, 89, 73]
"""

glicemia = [129, 82, 60, 97, 101, 65, 62, 167, 87, 53, 58, 92, 66, 120, 109, 62, 86, 96, 103, 88, 155, 52, 89, 73]

classificacao_glicemia = [("Hipoglicemia", i) if i <= 70 else ("Normal", i) if i < 100 else ("Alterada", i) if i < 125 else ("Diabetes", i) for i in glicemia]

print(classificacao_glicemia)

[('Diabetes', 129), ('Normal', 82), ('Hipoglicemia', 60), ('Normal', 97), ('Alterada', 101), ('Hipoglicemia', 65), ('Hipoglicemia', 62), ('Diabetes', 167), ('Normal', 87), ('Hipoglicemia', 53), ('Hipoglicemia', 58), ('Normal', 92), ('Hipoglicemia', 66), ('Alterada', 120), ('Alterada', 109), ('Hipoglicemia', 62), ('Normal', 86), ('Normal', 96), ('Alterada', 103), ('Normal', 88), ('Diabetes', 155), ('Hipoglicemia', 52), ('Normal', 89), ('Normal', 73)]

In [48]:
"""
8. Um e-commerce possui as informações de id de venda, quantidade vendida e preço do produto divididos nas seguintes listas:
id = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
quantidade = [15, 12, 1, 15, 2, 11, 2, 12, 2, 4]
preco = [93.0, 102.0, 18.0, 41.0, 122.0, 14.0, 71.0, 48.0, 14.0, 144.0]
O e-commerce precisa estruturar esses dados em uma tabela contendo o valor total da venda,
que é obtida multiplicando a quantidade pelo preço unitário. Além disso, a tabela precisa conter um cabeçalho indicando as colunas:
'id', 'quantidade', 'preco' e 'total'.

Crie uma lista de tuplas em que cada tupla tenha id, quantidade, preço e valor total, na qual a primeira tupla é o cabeçalho da tabela.
"""

id = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
quantidade = [15, 12, 1, 15, 2, 11, 2, 12, 2, 4]
preco = [93.0, 102.0, 18.0, 41.0, 122.0, 14.0, 71.0, 48.0, 14.0, 144.0]
tabela = [("id", "quantiade", "preco", "total")]

tabela += [(i, quantidade[i], preco[i], quantidade[i] * preco[i])for i in id]

print(tabela)

[('id', 'quantiade', 'preco', 'total'), (0, 15, 93.0, 1395.0), (1, 12, 102.0, 1224.0), (2, 1, 18.0, 18.0), (3, 15, 41.0, 615.0), (4, 2, 122.0, 244.0), (5, 11, 14.0, 154.0), (6, 2, 71.0, 142.0), (7, 12, 48.0, 576.0), (8, 2, 14.0, 28.0), (9, 4, 144.0, 576.0)]

In [67]:
"""
9. Uma empresa possui filiais espalhadas nos Estados da região Sudeste do Brasil.
Em uma das tabelas de cadastro das filiais há uma coluna contendo a informação de qual é o Estado a que pertence:
estados = ['SP', 'ES', 'MG', 'MG', 'SP', 'MG', 'ES', 'ES', 'ES', 'SP', 'SP', 'MG', 'ES', 'SP', 'RJ', 'MG', 'RJ', 'SP', 'MG', 'SP', 'ES', 'SP', 'MG'].

A empresa sempre está abrindo novas filiais, de modo que a tabela está constantemente recebendo novos registros
e o gestor gostaria de possuir a informação atualizada da quantidade de filiais em cada Estado.

A partir da coluna com a informação dos Estados, crie um dicionário usando dict comprehension
com a chave sendo o nome de um Estado e o valor sendo a contagem de vezes em que o Estado aparece na lista.

Dica: Você pode fazer um passo intermediário para gerar uma lista de listas em que cada uma das listas possui o nome de apenas um Estado com valores repetidos.
"""

estados = ['SP', 'ES', 'MG', 'MG', 'SP', 'MG', 'ES', 'ES', 'ES', 'SP', 'SP', 'MG', 'ES', 'SP', 'RJ', 'MG', 'RJ', 'SP', 'MG', 'SP', 'ES', 'SP', 'MG']
estados_disponiveis = list(set(estados))
agrupamento_estado = []

for i in estados_disponiveis:
  agrupamento = [x for x in estados if x == i]
  agrupamento_estado.append(agrupamento)
print(agrupamento_estado)

contagem = {estados_disponiveis[i]: len(agrupamento_estado[i]) for i in range(len(estados_disponiveis))}
print(contagem)

[['SP', 'SP', 'SP', 'SP', 'SP', 'SP', 'SP', 'SP'], ['ES', 'ES', 'ES', 'ES', 'ES', 'ES'], ['RJ', 'RJ'], ['MG', 'MG', 'MG', 'MG', 'MG', 'MG', 'MG']]
{'SP': 8, 'ES': 6, 'RJ': 2, 'MG': 7}

In [95]:
"""
10. Nessa mesma tabela de cadastro de filiais, há uma coluna com as informações da quantidade de pessoas colaboradoras
e o(a) gestor(a) gostaria de ter um agrupamento da soma dessas pessoas para cada estado. As informações contidas na tabela são:
funcionarios = [('SP', 16), ('ES', 8), ('MG', 9), ('MG', 6), ('SP', 10), ('MG', 4), ('ES',9), ('ES', 7), ('ES', 12), ('SP', 7), ('SP', 11), ('MG',8), ('ES',8), ('SP',9), ('RJ', 13), ('MG', 5), ('RJ', 9), ('SP', 12), ('MG', 10), ('SP', 7), ('ES', 14), ('SP', 10), ('MG', 12)]
A partir da lista de tuplas, crie um dicionário em que as chaves são os nomes dos Estados únicos
e os valores são as listas com o número de colaboradores(as) referentes ao Estado.
Crie também um dicionário em que as chaves são os nomes dos Estados e os valores são a soma de colaboradores(as) por Estado.

Dica: Você pode fazer um passo intermediário para gerar uma lista de listas em que cada uma das listas
possui apenas os valores numéricos de funcionários(as) de cada Estado.
"""

funcionarios = [('SP', 16), ('ES', 8), ('MG', 9), ('MG', 6), ('SP', 10), ('MG', 4), ('ES',9), ('ES', 7), ('ES', 12), ('SP', 7), ('SP', 11), ('MG',8), ('ES',8), ('SP',9), ('RJ', 13), ('MG', 5), ('RJ', 9), ('SP', 12), ('MG', 10), ('SP', 7), ('ES', 14), ('SP', 10), ('MG', 12)]
estados_unicos = list(set(i[0] for i in funcionarios))
contagem_funcionarios = []

for i in estados_unicos:
  agrupamento = [x[1] for x in funcionarios if i == x[0]]
  contagem_funcionarios.append(agrupamento)
print(contagem_funcionarios)

for i in estados_unicos:
  soma_funcionarios = {estados_unicos[x]: sum(contagem_funcionarios[x]) for x in range(len(contagem_funcionarios))}
print(soma_funcionarios)

[[16, 10, 7, 11, 9, 12, 7, 10], [8, 9, 7, 12, 8, 14], [13, 9], [9, 6, 4, 8, 5, 10, 12]]
{'SP': 82, 'ES': 58, 'RJ': 22, 'MG': 54}

# **Lidando com Exceções**